html, body {
	padding: 0;
	margin: 0;
	background-color: rgb(200, 200, 200);
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td, button, input, form {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}
h1 {
	text-align: center;
	text-transform: uppercase;
	color: white;
}
h3 {
	font-size: 36px;
	font-style: italic;
	font-weight: 100;
	color: rgb(255, 255, 255);
}
h4 {
	font-size: 24px;
	color: rgb(0, 163, 0);
}
p, em, b {
	margin: 15 0 0 0;
	font-size: 18px;
	font-weight: 100;
	line-height: 1.4;
}
a {
	text-decoration: none;
}
.main {
	text-align: center;
	background: linear-gradient(rgba(0, 163, 0, 0.9), rgba(0, 163, 0, 0.7), rgba(0, 163, 0, 0.4)), url(background.jpg);
	background-repeat: no-repeat no-repeat;
	background-size: cover;
	background-position: 0;
}
.title {
	padding: 20 15% 20 15%;
	text-align: center;
	background: rgb(0, 163, 0);
}
.content {
	padding: 40 15% 50 15%;
	background-color: rgb(245, 246, 247);
}
.content a {
	font-weight: 400;
	color: rgb(0, 163, 0);
	transition: text-decoration 0.6s;
}
.content a:hover {
	padding-bottom: 1px;
	border-bottom: 1px solid rgb(0, 163, 0);
}
button {
	padding: 10 3% 10 3%;
	margin: 10 10 10 10;
	outline: none;
	border: 5px solid white;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	font-size: 24px;
	text-transform: uppercase;
	transition: background-color 0.3s
}
button:hover {
	background-color: rgba(255, 255, 255, 0.3);
	cursor: hand;
}

.nav {
	padding: 0 5% 0 5%;
	position: fixed;
	z-index: 1;
	width: 100%;
	font-size: 16px;
	background-color: rgba(0, 163, 0, 0.9);
}
.nav .head {
	font-weight: bold;
	text-transform: uppercase;
	color :white;
	border-bottom: 2px solid rgba(0,0,0,0);
}
.nav .head:hover {
	border-bottom: 2px solid white;
}

.nav .nav-main  {
	float: left;
	margin-right: 10px;
	padding: 10;
	list-style: none;
}
.nav li a:link, .nav li a:visited {
	display: block;
	padding: 10px;
	text-decoration: none;
}
.nav li ul {
	position: absolute;
	visibility: hidden;
	margin: 10 0 0 0;
	padding: 0;
	z-index: 1;
	font-size: 16px;
	border-top: 3px solid rgba(255, 255, 255, 0.9);
	border-bottom: 3px solid rgba(0, 163, 0, 0.9);
}
.nav li ul li {
	display: inline;
	float: none;
}
.nav li ul li a:link, .nav li ul li a:visited {
	width: auto;
	background-color: rgba(255, 255, 255, 0.9);
	color: black;
	padding-right: 10px;
	min-width: 200px;
	-webkit-transition: background-color 0.1s;
	transition: background-color 0.1s;
}
.nav li ul li a:hover {
	width: auto;
	background-color: rgba(0, 163, 0, 0.9);
	color: white;
	border: none;
}